<div class="page-header">
    <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
    <div id="article_header">
        {% assign cur_category = page.categories %}
        {% assign cur_tag = page.tags %}
        <div>
            <span>分类: </span>
            <a href="{{ BASE_PATH }}{{ site.navigation.category.path }}#{{ cur_category[0] }}-ref" class="tag">{{cur_category[0]}}</a> 
            {% if cur_tag and cur_tag.size != 0 %}
                <span>标签: </span>
            {% endif %}
            {% for tag in cur_tag %}
                <a href="{{ BASE_PATH }}{{ site.navigation.tag.path }}#{{ tag }}-ref" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>      
        <div>
            Last Modify in
            {% if page.modifyTime and page.modifyTime != "" %}
            <span>{{ page.modifyTime | date:"%Y-%m-%d" }}</span>,
            {% else %}
            <span>{{ page.date | date:"%Y-%m-%d" }}</span>,
            {% endif %}
            published in <span>{{ page.date | date:"%Y-%m-%d" }}</span> 
            by <span> {{ site.author.name}}</span>
        </div>

        {% assign cur_category = nil %}
        {% assign cur_tag = nil %}
    </div>
</div>

<div id="page-content">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev">上一篇: <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{page.previous.title}}</a></li>
      {% else %}
        <li class="prev-disabled">上一篇: 呵呵,还没开始呢</li>
      {% endif %}
      {% if page.next %}
        <li class="next">下一篇: <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></li>
      {% else %}
        <li class="next-disabled">下一篇: 让时间加速吧
      {% endif %}
      </ul>
    </div>

    <hr>

    <div id="to_comments">
    {% include JB/comments %}
    </div>
 </div>
