/* common */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, pre, code, blockquote, a, em, img, strong, hr, ul, ol, li,
figure {
  margin: 0; padding: 0;
  border: 0;
  font-size: 100%;
}

html {
    color: #e4ebf0;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #002b36;
    padding: 0;
    margin: 0;
}
body {
    max-width: 80em;
    position: relative;
    margin: auto;
    font: 100 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
}
table {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: "Open Sans";
    margin: 0;
    padding: 0.15em 0;
}
h1 {
	clear: both;
    font-size: 2.0em;
    padding-bottom: 0.1em;
    color: #f37;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2 {
    font-size: 1.85em;
    color: #fd5;
//    margin-top: 1em;
}
h3 {
    font-size: 1.7em;
    color: #df5;
    width: 80%;
//    margin-top: 0.9em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 1.55em;
    color: #6d9;
//    margin-top: 0.8em;
}
h5 {
    font-size: 1.4em;
    color: red;
}
h6 {
    font-size: 1.25em;
	color: cyan;
}
/*a-->common link*/
a {
    color: #5FA8E6; 
    padding-bottom: 1px;
    text-decoration: none;
}
/*
a:visited {
    color: #9F53E2; // blue
}*/

a:hover {
    color: rgb(28, 181, 28); 
    padding-bottom: 0;
    text-decoration: none;
}


p, pre, blockquote, table, ul, ol, dl,figure {
    margin: 0.5em 0 1em;
}
/*
 * adjust font-szie 
 *	2015-04-19 17:07:16
 * */
p, pre, blockquote,a, span{
	font-size: 1.1em
}
ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}
li {
    margin: 0.3em auto 0.3em 1.5em;
	list-style-position: outside;
}
ol, ul {
    margin-left: 1em;
    padding-left: 0.5em;

}
dt {
    font-weight: bold;

}
img {
    border: none;
	max-width: 100%;
}

code {
    color: #cae3b6;
	font-family: DejaVu Sans Mono,Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	white-space: pre-wrap; 
	word-wrap: break-word;
}
p code {
  color: yellow;
  padding: 0.5em;  

}

blockquote, pre {
    padding: 0.8em;
	background: rgba(11, 132, 95, 0.26);
    border: 1.5px solid rgba(14, 139, 125, 0.2);
    position: relative;
    z-index: 2;
    font-family: "Open Sans";
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;

}
blockquote {
    background: #13313C;
	border: 2px dotted rgb(84, 84, 72);
	border: 2px dotted rgba(214, 203, 29, 0.2);
	color: #D0D6B9;
}

pre:hover {
	 border: 1.5px solid rgba(14, 139, 125, 1);
}

pre {
    margin-left: 1em;
    padding: 0.4em 0.8em;
    overflow-x: auto;

}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #256;
    padding: 0.3em 0.5em;

}
th {
    background-color: #f0f0f0;

}
hr {
    border: none;
    border-top: 1px double rgb(76, 64, 8);
    width: 100%;
    margin: 20px 0;
}
del {
    text-decoration: line-through;
    opacity: 0.6;
}
strong, b {
    font-weight: 600;	
    color: rgba(16, 226, 16, 0.88);
}
em, i {
    font-family: "Open Sans";
    font-style: italic;
	color: rgb(233, 109, 50);
}

#all {
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    -moz-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    border-width: 0 12px;
    max-width: 85%;
    margin: 0 auto;
}

#content {
    padding: 10px 20px;
    position: relative;
}
/*header and top-nav*/
#header {
}


#title {
	position: relative;
	margin-top: 1em;
    padding-bottom: 2em;
}

#title h1 a {
    color: rgba(23, 245, 217, 0.6);
    font-size: 1.5em; 
    text-decoration: none;
	font-weight: lighter;
	display: block;
}
#title h1 a:hover {
    color: cyan;
}

#title .title-tagline {
	font-size: .5em;
	font-weight: normal;
	display: block;
	margin-top: -10px;
	padding-left: 2em;
}

#top-nav {
    position: relative;
	background-color: #586e75;
	background-color: rgba(23, 144, 135, 0.62);
    top: -10px;
    width: auto;
    margin: -10px 0 0 0;
    padding-bottom: 0.35em;
    overflow: hidden;
    zoom: 1;
}
#top-nav ul {
    list-style: none;
    display:block;
}
#top-nav li {
    float: left;
}
#top-nav ul li a{
    margin: 0 0.5px;
    width: 60px;
	color: #93a1a1;
	color: yellow;
    text-decoration: none;
    text-align: left;
	font-size: 1.4em;
	padding-right: 1em;
}

#top-nav ul li+li a{
	border-left: 1px solid #678139;
	padding-left: 1.7em;
}
#top-nav ul li a:hover, #top-nav ul li a:focus{
	color: rgba(255, 255, 0, 0.39);
}

/*
    gcse-->google search
    */
#top-nav #searchbox {
    float: left;
}
#input_search {
    display: block;
    padding: 6px 20px;
    margin: 0 0.5px;
    width: 60px;
    height: 1.6em;
    top: 5px;
    background-color: rgba(20, 3, 59, 0.51);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
}
#input_search:hover {
    border-color: #450e87;
    background-color: #450e87;
}
#input_search:focus {
    color: purple;
    background-color: #fff;
    width: 100px;
}
.page-header h1{
  font-size: 2.5em;
}


.page-header h1 small {
  font-size: 0.5em;
  color: cyan;
}
/*article header*/
#article_header {
    padding-bottom: 2em;
}
#article_header div{
    color: white;
    font-size: 1em;
}
#article_header div span {
    color: darkkhaki;
}
/*content*/
#page-content {
    clear: both;
}
#page-content h2 {
    clear: both;
}
/*tags*/
.tag_box {
    list-style: none;
    display:block;
}
.tag_box li{
    float:left;
    padding: 1em;
}
a.tag {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0.5px;
    background-color: rgba(0, 128, 128, 0.29);
    color: cyan;
    text-decoration: none;
    
}   
a.tag:hover {
    background-color: teal;
}
.tag_box li span {
    vertical-align: super;
    font-size: .64em;
}

/*
    micro_say
    */
#micro_say {

}
#micro_say p{
    padding: 0.8em;
//    background: #39213E;
//    background: rgba(255,30,120,0.12);
	color: #cae3b6;
	background: rgba(11, 132, 95, 0.26);
    border: 1px solid #614;
	border: 1.5px solid rgba(14, 139, 125, 0.2);
    position: relative;
    font-family: "Open Sans";
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}
#micro_say p:hover {
//    color: #eee;
//    background: rgba(255,30,120,0.25);
	border: 1.5px solid rgba(14, 139, 125, 1);
}
#micro_say pre {
    border: 1px solid #c26;
    border-style: none;
    margin-left: 0;
    top: -1em;
    text-align: right;
    background-color: rgba(113, 0, 128, 0);
}
#micro_say pre code {
    color: green;
}
#micro_say pre:hover {
    background-color: rgba(113, 0, 128, 0);
}
#micro_say p img {
    max-width: 30%;
    max-height: 20%;

}
.pagination {

}

.pagination ul {
 list-style:none; 
}
/*.prev , .prev-disabled {
    float: left;
}

.archive {
    float: left;
    text-align: center;
    width: 100px;
    padding:0 2em 0 2em;
}

/*.next , .next-disabled {
    float: left;
}
.archive ,.prev , .next , .prev-disabled , .next-disabled {
    list-style: none;
}
.archive a, .prev a, .next a, .prev-disabled a, .next-disabled a {
    display: block;
//    border-radius: 15px;
    padding: 6px 20px;
    margin: 0 0.5px;
    background-color: rgba(62, 38, 128, 0.51);
    color: white;
    text-decoration: none;
    list-style: none;
}

.prev a:hover , .next a:hover, .archive a:hover{
    background-color: rgba(19, 160, 15, 0.72);
}
.prev-disabled a, next-disabled a {
    
}*/

/*footer*/
.footer {
    margin-top: -10px;
    text-align: center;
    border: 5px solid #75143F;
    border: 5px solid rgba(255,0,80,0.42);
    border-width: 5px 10px;
    
	p {
	    background: #341D36;
	    background: rgba(255,0,80,0.15);
		margin: 0;
	    padding:1em;

		a {
		    text-decoration: none;
			
			&:hover {
				text-decoration: none;
			}

		}
	}
}

/*
 * Module: Toc
 * */
div.tocWrap {
	position: fixed;
	width: 250px;
	z-index: 100;
	top: 16%;
	right: 2.8%;
}
div.tocWrap .menu {
	text-align: center;
	font-size: 1em;
	width: 100%;
	background-color: #F0C81E;
	border-radius: 2px 2px 0 0 ;
	color: #122;
	position: relative;
	z-index: 101;
	cursor: pointer;
}
div.tocWrap ul {
	margin: 0;
	padding: 0;
}
ul#markdown-toc {
	overflow-y: auto;
	height: auto;
	position: relative;
	border: 1px solid #F0C81E;
	border-radius: 0 0 1px 1px;
	color: #999;
	background: rgba(10,30,40,0.85);
//	padding: 12px;
	-webkit-box-shadow: 0 1px 8px #000;

}
ul#markdown-toc li {      
//  margin: 0.3em auto;
  list-style-position: inside;
//  margin-left: 15px !important;
  padding: 0px !important
}

/*
 * Top
 * */

.nav-bottom {
	position: fixed;
	right: 15%;
	bottom: 20px;
	cursor:pointer;  
	border: 1px solid yellow;
	width: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
    text-align: center;
	border-radius: 0.5em;
	z-index: 101
}

#site-top {
    margin-bottom: 5px;
    border-bottom: thin dashed #3ED8C1;
    padding-bottom: 10px;
}
#site-comment {
    border-bottom: thin dashed #3ED8C1;
	margin-top: 2px;
}
#site-bottom {
	margin-top: 5px;
}

.post-category {
	border: 1px dashed #18445F;
	background-color: #18445F;
}
.post-category:hover {
	border: 1px dashed rgba(70, 88, 99, 1);
	background-color: rgba(70, 88, 99, 1);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {

	ul#markdown-toc {
	  float: none;
	  margin-left: auto;
	  margin-right: auto;
	}
}

#micro_say_ul {
	list-style: none;
}

#micro_say_ul li {
	display: inline-block;
	margin: 0.3em auto;
}
